extends ../../layout/default
include ../../mixins/flash-message
include ../../mixins/format-time

block main
    if(role.permission.includes("product-view"))
        .container.mt-5(form-add-product)
            h2(class="mb 4") #{product.title}
            .row
                .col-3.mb-lg-5
                    .inner-image
                        img(
                            src=product.thumbnail
                            image-detail
                        )
                .col-6
                    ul(class="list-group list-group-flush list-detail")
                        li(class="list-group-item")
                            Strong Title:
                            |  #{product.title}
                        li(class="list-group-item")
                            Strong Author:
                            |  #{product.author}
                        li(class="list-group-item")
                            Strong Price:
                            |  #{product.price}
                        li(class="list-group-item")
                            Strong Stock:
                            |  #{product.stock}
                        li(class="list-group-item")
                            Strong Position:
                            |  #{product.position}
                        li(class="list-group-item")
                            Strong Category:
                            |  #{product.titleCategory  }
                        li(class="list-group-item status-item" data-status=product.status)
                            Strong Status:
                            |  #{product.status}
                        li(class="list-group-item")
                            Strong Featured:
                                if(product.featured)
                                    svg.bi.bi-check-lg(xmlns='http://www.w3.org/2000/svg', width='16', height='16', fill='currentColor', viewBox='0 0 16 16')
                                        path(d='M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z')
                        li(class="list-group-item")
                            Strong Description:
                            |  !{product.description}
                        if(product.createdBy)
                            li(class="list-group-item")
                                Strong Created by:
                                |
                                +formatDateTime(product.createdBy.createdAt)
                                p #{product.createdBy.fullName}
                    if(role.permission.includes("product-edit"))
                        a(class="btn btn-outline-dark button-in-detail", href=`${prefixAdmin}/products/edit/${product._id}`) Edit
    script(src="/admin/js/product.js")