extends ../../layout/default
include ../../mixins/filter-status
include ../../mixins/search
include ../../mixins/pagination
include ../../mixins/form-change-multi
include ../../mixins/form-change-status
include ../../mixins/flash-message
include ../../mixins/form-delete
include ../../mixins/sort
include ../../mixins/format-time

block main
    +flash-message-success(5000)
    if(role.permission.includes("product-view"))
        .container.mt-5(form-add-product)
            .row(font-setting)
                .col-10
                    h2.inner-content.p-md-2 #{pageTitle}
                .col-2
                    if(role.permission.includes("product-add"))
                        a(href="products/create" class="btn btn-outline-dark") Add New

            .card.mb-3(font-setting)
                .card-header Filters and Search
                .card-body
                    .row
                        .col-6
                            +filter-status(filterStatus)
                        .col-6
                            +search(title)

            +sort("position-desc")

            .card.mb-3(font-setting)
                .card-header List of products
                .card-body
                    if(role.permission.includes("product-edit"))
                        +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)

                    table(class="table table-hover table-sm align-middle" checkbox-multi)
                        thead
                            tr(class="inner-content")
                                th.text-center
                                    input(class="form-check-input" type="checkbox" name="checkall")
                                th.text-center No
                                th.text-center Picture
                                th Title
                                th.text-center Author
                                th.text-center Featured
                                th.text-center Category
                                th.text-center Price
                                th.text-center Position
                                th.text-center Status
                                th.text-center Edited By
                                th.text-center Act
                        each item, index in products
                            tbody
                                tr
                                    td.text-center
                                        input(class="form-check-input" type="checkbox" name="check-id" value=item.id)
                                    td.text-center(class="inner-content") #{(pagination.currentPageNumber - 1) * pagination.numberOfProductsPerPage + index + 1}
                                    td.text-center
                                        if(item.thumbnail)
                                            a(href=`${prefixAdmin}/products/detail/${item.slug}`)
                                                img(
                                                    src=item.thumbnail
                                                    alt=item.title
                                                    width="55px"
                                                    height="55px"
                                                    style="border-radius: 28%; object-fit: cover; margin: 3px 0px;"
                                                )
                                    td(class="inner-content")
                                        a(href=`${prefixAdmin}/products/detail/${item.slug}` title-product) #{item.title}
                                    td.text-center(class="inner-content") #{item.author}
                                    th.text-center
                                        if(item.featured)
                                            svg.bi.bi-check-lg(xmlns='http://www.w3.org/2000/svg', width='16', height='16', fill='currentColor', viewBox='0 0 16 16')
                                                path(d='M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z')
                                    th.text-center
                                        if(item.categoryDetails)
                                            p #{item.categoryDetails.title}
                                    td.text-center(class="inner-content") #{item.price}$
                                    td.text-center
                                        if(role.permission.includes("product-edit"))
                                            input(
                                                type="number"
                                                value=item.position
                                                style="width: 55px"
                                                min="1"
                                                name="position"
                                            )
                                    td.text-center
                                        if(role.permission.includes("product-edit"))
                                            if(item.status === "active")
                                                b(class="btn btn-custom status-active" data-status=item.status data-id=item._id button-change-status) Active
                                            else
                                                b(class="btn btn-custom status-inactive" data-status=item.status data-id=item._id button-change-status) Inactive
                                    //td.text-center
                                    //    if(item.createdBy.fullName !== undefined)
                                    //        p #{item.createdBy.fullName}
                                    //        p
                                    //            +formatDate(item.createdBy.createdAt)
                                    td.text-center
                                        if(item.editedBy)
                                            p #{item.editedBy[item.editedBy.length - 1].fullName}
                                            p
                                                +formatDate(item.editedBy[item.editedBy.length - 1].editedAt)
                                    td.text-center
                                        if(role.permission.includes("product-edit"))
                                            a(class="btn btn-custom edit", href=`${prefixAdmin}/products/edit/${item._id}`) Edit
                                        if(role.permission.includes("product-delete"))
                                            button(class="btn btn-custom delete" button-delete-product data-id=item._id) Delete

            +pagination(pagination)
            +form-change-status(`${prefixAdmin}/products/change-status`)
            +form-delele(`${prefixAdmin}/products/delete-product`)

    script(src="/admin/js/product.js")

