extends ../../layout/default
include ../../mixins/filter-status
include ../../mixins/search
include ../../mixins/pagination

block main
    h2.inner-content #{pageTitle}

    .card.mb-3
        .card-header Filters and Search
        .card-body
            .row
                .col-6
                    +filter-status(filterStatus)
                .col-6
                    +search(title)

    .card.mb-3
        .card-header List of products
        .card-body
            table.table.table-hover.table-sm.align-middle
                thead
                    tr(class="inner-content")
                        th.text-center No
                        th.text-center Picture
                        th Title
                        th.text-center Author
                        th.text-center Price
                        th.text-center Status
                        th.text-center Act
                each item, index in products
                    tbody
                        tr
                            td.text-center(class="inner-content") #{index + 1}
                            td.text-center
                                img(
                                    src=item.thumbnail
                                    alt=item.title
                                    width="50px"
                                    height="auto"
                                    style="border-radius: 10%"
                                )
                            td(class="inner-content") #{item.title}
                            td.text-center(class="inner-content") #{item.author}
                            td.text-center(class="inner-content") #{item.price}$
                            td.text-center
                                if(item.status === "active")
                                    b(class="btn btn-custom status-active" data-status=item.status data-id=item.id button-change-status) Active
                                else
                                    b(class="btn btn-custom status-inactive" data-status=item.status data-id=item.id button-change-status) Inactive
                            td.text-center
                                button.change(class="btn btn-custom edit") Modify
                                button.delete(class="btn btn-custom delete") Delete

    +pagination(pagination)

    form(
        action=""
        method="POST"
        id="form-change-status"
        data-path=`${prefixAdmin}/products/change-status`
    )

    script(src="/admin/js/product.js")