extends ../../layout/default
include ../../mixins/flash-message

block main
    +flash-message-error(5000)

    .container.mt-5(form-add-product)
        form(
            action=`${prefixAdmin}/account/create?_method=POST`,
            method='POST',
            form-add-new-product
            enctype="multipart/form-data"
        )
            .row
                .col-6
                    h2.mb-4 #{pageTitle}
                .col-4
                    .row
                        .col-5.form-check
                            input#status.form-check-input(type='radio', name='status', value='active', checked='')
                            label.form-check-label(for='status') Active
                        .col-5.form-check
                            input#status2.form-check-input(type='radio', name='status', value='inactive')
                            label.form-check-label(for='status2') Inactive
                .col-2
                    button.btn.btn-outline-dark(type='submit') Add New
            .form-group
                .col-md-4
                    label(label-margin for='fullname') Full name
                    input#fullName.form-control(type='text', name='fullName', placeholder='Enter full name', required)
            .form-group
                .row
                    .col-md-4
                        label(label-margin for='email') Email
                        input#email.form-control(type='text', name='email', placeholder='Enter email', required)
                    .col-md-4
                        label(label-margin for='password') Password
                        input#password.form-control(type='text', name='password', placeholder='Enter password' required)
            .form-group
                .col-md-4
                    label(label-margin for='phone') Phone number
                    input#telephone.form-control(type='text', name='phone', placeholder='Enter phone number')
            .form-group
                .col-md-4
                    label(label-margin for='role_id') Permission
                    select#role_id.form-select(name='role_id')
                        each role in roles
                            option(value=role.id) #{role.title}
            .form-group(upload-image)
                .row
                    .col-md-4
                        label(label-margin for='thumbnail') Avatar
                        input#thumbnail.form-control(type='file' class="form-control" name='thumbnail', accept="image/*" upload-image-input)
                    .col-md-4
                        img(
                            src=""
                            upload-image-preview
                        )


    script(src="/admin/js/product.js")