extends ../../layout/default
include ../../mixins/filter-status
include ../../mixins/search
include ../../mixins/pagination
include ../../mixins/form-change-multi
include ../../mixins/form-change-status
include ../../mixins/flash-message
include ../../mixins/sort
include ../../mixins/form-delete

block main
    +flash-message-success(5000)

    .row(font-setting)
        .col-10
            h2.inner-content.p-md-2 #{pageTitle}
        .col-2
            a(href="category/create" class="btn btn-outline-dark") Add New

    .card.mb-3(font-setting)
        .card-header Filters and Search
        .card-body
            .row
                .col-6
                    +filter-status(filterStatus)
                .col-6
                    +search(titleSearch)

    +sort("title-asc")

    .card.mb-3(font-setting)
        .card-header List of products
        .card-body
            +form-change-multi(`${prefixAdmin}/category/change-multi?_method=PATCH`)

            table(class="table table-hover table-sm align-middle" checkbox-multi)
                thead
                    tr(class="inner-content")
                        th.text-center
                            input(class="form-check-input" type="checkbox" name="checkall")
                        th.text-center No
                        th.text-center(class="inner-content" style="width: 150px;") Picture
                        th Title
                        th.text-center Position
                        th.text-center Status
                        th.text-center Act
                each item, index in records
                    tbody
                        tr(class="inner-content")
                            td.text-center
                                input(class="form-check-input" type="checkbox" name="check-id" value=item.id)
                            td.text-center #{index + 1}
                            td.text-center
                                if(item.thumbnail)
                                    a(href=`${prefixAdmin}/category/detail/${item.slug}`)
                                        img(
                                            src=item.thumbnail
                                            alt=item.title
                                            width="55px"
                                            height="55px"
                                            style="border-radius: 28%; object-fit: cover; margin: 3px 0px;"
                                        )
                            td(class="inner-content")
                                a(href=`${prefixAdmin}/category/detail/${item.slug}` title-product) #{item.title}
                            td.text-center
                                input(
                                    type="number"
                                    value=item.position
                                    style="width: 55px"
                                    min="1"
                                    name="position"
                                )
                            td.text-center
                                if(item.status === "active")
                                    b(class="btn btn-custom status-active" data-status=item.status data-id=item.id button-change-status) Active
                                else
                                    b(class="btn btn-custom status-inactive" data-status=item.status data-id=item.id button-change-status) Inactive
                            td.text-center
                                a(class="btn btn-custom edit", href=`${prefixAdmin}/category/edit/${item._id}`) Edit
                                button(class="btn btn-custom delete" button-delete-product data-id=item.id) Delete

    +pagination(pagination)
    +form-change-status(`${prefixAdmin}/category/change-status`)
    +form-delele(`${prefixAdmin}/category/delete-category`)

    script(src="/admin/js/product.js")

