extends ../../layout/default
include ../../mixins/box-head
include ../../../admin/mixins/filter-status
include ../../../admin/mixins/search
include ../../../admin/mixins/sort
include ../../../admin/mixins/pagination

block main
    .container
        .row
            .col-12
                +box-head(pageTitle)

        .card.mb-3(font-setting)
            .card-header Filters and Search
            .card-body
                .row
                    .col-8
                        +filter-status(filterStatus)
                    .col-4
                        .row
                            .col-8
                                div(sort)
                                    select.form-select(name="sort" sort-select)
                                        option(value='title-asc' selected=selectedSort === 'title-asc') Title (A - Z)
                                        option(value='title-desc' selected=selectedSort === 'title-desc') Title (Z - A)
                                        option(value='price-asc' selected=selectedSort === 'price-asc') Price (Low - High)
                                        option(value='price-desc' selected=selectedSort === 'price-desc') Price (High - Low)

                            .col-4
                                button(type="submit" class="btn btn-light" sort-reset) Reset



        .card.mb-3(font-setting)
            .card-header List of products
            .card-body
                .row
                    each item in products
                        .col-3.mb-lg-5
                            .product-item
                                .inner-image
                                    a(href=`${slugCategory}/${item.slug}` style="text-decoration: none;color: inherit;")
                                        img(src=item.thumbnail
                                        , alt=item.title)
                                .inner-content
                                    a(href=`/product}` style="text-decoration: none;color: inherit;")
                                        .inner-title #{item.title}
                                    .inner-author #{item.author}
                                    .inner-price #{item.price}$