extends ../../layout/default
include ../../mixins/box-head

block main
    .container
        .row
            .col-12
                +box-head("CD")

        .row
            each item in products
                .col-4.mb-3
                    .product-item
                        .inner-image
                            img(src=item.thumbnail
                            , alt=item.title)
                        .inner-content
                            .inner-title #{item.title}
                            .inner-author #{item.author}
                            .inner-price #{item.price}$