extends ../../layout/default
include ../../mixins/box-head
include ../../../admin/mixins/flash-message

block main
    +flash-message-success(2000)
    +flash-message-error(2000)
    .container
        .row
            .col-12
                +box-head("Featured")

        .row
            each item in products
                .col-3.mb-lg-5
                    .product-item
                        .inner-image
                            a(href=`/products/${item.categoryDetails.slug}/${item.slug}` style="text-decoration: none;color: inherit;")
                                img(src=item.thumbnail
                                , alt=item.title)
                        .inner-content
                            a(href=`/products/${item.categoryDetails.slug}/${item.slug}` style="text-decoration: none;color: inherit;")
                                .inner-title #{item.title}
                            .inner-author #{item.author}
                            .inner-price #{item.price}$


