mixin form-change-multi(path)
    form(
        action=path
        method="POST"
        form-change-status-multi
    )
        .row.mb-3
            .col-3
                .input-group.mb-3
                    select(name="type" class="form-select")
                        option(selected disabled) Select
                        option(value="active") Active
                        option(value="inactive") Inactive
                        option(value="delete") Delete
                        option(value="change-position") Change Position
                        option(value="featured") Featured
                        option(value="featureless") Featureless
                    input(
                        type="text"
                        name="ids"
                        value=""
                        class="form-control"
                        hidden
                    )
                    button(type="submit" class="input-group-text") Apply