mixin search(title)
    form(id="form-search")
        .input-group
            input(
                type="text"
                placeholder="Enter search keywords"
                name="keyword"
                class="form-control"
                value=title
            )
            .input-group-text
                button(
                    class="btn btn-light"
                    type="submit"
                ) Find