extends ../../layout/default
include ../../mixins/filter-status
include ../../mixins/search
include ../../mixins/pagination
include ../../mixins/form-change-status-multi
include ../../mixins/form-change-status

block main
    h2.inner-content #{pageTitle}

    .card.mb-3
        .card-header Filters and Search
        .card-body
            .row
                .col-6
                    +filter-status(filterStatus)
                .col-6
                    +search(title)

    .card.mb-3
        .card-header List of products
        .card-body
            +form-change-status-multi
            table(class="table table-hover table-sm align-middle" checkbox-multi)
                thead
                    tr(class="inner-content")
                        th.text-center
                            input(class="form-check-input" type="checkbox" name="checkall")
                        th.text-center No
                        th.text-center Picture
                        th Title
                        th.text-center Author
                        th.text-center Price
                        th.text-center Status
                        th.text-center Act
                each item, index in products
                    tbody
                        tr
                            td.text-center
                                input(class="form-check-input" type="checkbox" name="check-id" value=item.id)
                            td.text-center(class="inner-content") #{index + 1}
                            td
                                img(
                                    src=item.thumbnail
                                    alt=item.title
                                    width="50px"
                                    height="auto"
                                    style="border-radius: 10%"
                                )
                            td(class="inner-content") #{item.title}
                            td.text-center(class="inner-content") #{item.author}
                            td.text-center(class="inner-content") #{item.price}$
                            td.text-center
                                if(item.status === "active")
                                    b(class="btn btn-custom status-active" data-status=item.status data-id=item.id button-change-status) Active
                                else
                                    b(class="btn btn-custom status-inactive" data-status=item.status data-id=item.id button-change-status) Inactive
                            td.text-center
                                button.delete(class="btn btn-custom delete" button-restore-product data-id=item.id) Restore

    +pagination(pagination)
    +form-change-status
    form(
        action=""
        method="POST"
        id="form-restore-product"
        data-path=`${prefixAdmin}/recycle-bin/restore-product`
    )

    script(src="/admin/js/product.js")
    script(src="/admin/js/recycle_bin.js")