.sider
    .inner-menu
        ul
            li
                a(href=`${prefixAdmin}`) Dashboard
            li
                a(href=`${prefixAdmin}/category`) Product portfolio
            li
                a(href=`${prefixAdmin}/products`) List of products
            li
                a(href=`${prefixAdmin}/permission`) Permission Group
            li
                a(href=`${prefixAdmin}/decentralization`) Decentralization
            li
                a(href=`${prefixAdmin}/recycle-bin`) Recycle Bin